.card {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  margin-bottom: 2rem;
}

.center {
  text-align: center;
}

.container {
  // padding: 0 5%;
  max-width: 1330px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

:host {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.key-points {
  display: block;

  p {
    margin-bottom: 16px;
  }
}

.homepage__key_point_title {
  margin-top: 24px;
  margin-bottom: 0;
}

$site-spacer: 1rem; // assert: should match Bootstrap $spacer
$spacers: (
  01: ($site-spacer * 0.25),
  02: ($site-spacer * 0.50),
  03: ($site-spacer * 0.75),
  04: $site-spacer,
  05: ($site-spacer * 1.25),
  06: ($site-spacer * 1.50),
  07: ($site-spacer * 1.75),
  08: ($site-spacer * 0002),
  09: ($site-spacer * 2.25),
  10: ($site-spacer * 2.50),
  11: ($site-spacer * 2.75),
  12: ($site-spacer * 0003)
);

@function bs-spacer($key: 3) {
  @return map-get($spacers, $key);
}

/*@include media-breakpoint-down(md) {
  &:not(:last-of-type) {*/


div {
  &__key-point {
    margin-bottom: bs-spacer(12);

    p {
      margin-bottom: 0;
    }

    .homepage__icon {
      margin: 0 auto bs-spacer(8);
    }
  }
}

h1 {
  font-size: 2.2rem;
  margin: 2rem 0 1rem;
  font-family: "Google Sans", "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  margin: 2rem 0 1rem;
  font-family: "Google Sans", "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}


h3 {
  font-size: 1.75rem;
  margin: 2rem 0 1rem;
  font-family: "Google Sans", "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.nowrap {
  white-space: nowrap;
}

img {
  width: 250px;
  height: 200px;
}
