<section class="container" style="margin-bottom: 2rem">
  <div fxLayout="column" class="card center" fxLayoutGap="20px"
       fxLayoutAlign="center" style="margin-bottom: 0; border-bottom: none; border-top: none; border-radius: unset">
    <h1>Stop using <em>React Native</em>, <em>Xamarin</em>, <em>Flutter</em>, <em>Ionic</em>, <em>NativeScript</em> or <em>Cordova</em>. <span class="nowrap">Develop natively.</span>
    </h1>

    <h1>36&times; faster development of iOS, Android, web, and RESTful APIs.
      <span class="nowrap">Native Development.</span>
    </h1>
  </div>

  <div fxLayout="row" fxLayout.xs="column" class="card center" fxLayoutGap="20px"
       style="border-top: none; border-radius: 0 0 4px 4px;">
    <div fxFlex="25%">
      <!--<app-svg-viewer src="/assets/typescript.svg"></app-svg-viewer>-->
      <img src="/assets/typescript.png" alt="TypeScript"/>
      <h2>web</h2>
      <h3>TypeScript &amp; HTML</h3>
      <p>Full support for the TypeScript syntax.</p>
    </div>

    <div fxFlex="25%">
      <!--<app-svg-viewer src="/assets/swift.svg"></app-svg-viewer>-->
      <img src="/assets/swift.png" alt="Swift"/>
      <h2>iOS</h2>
      <h3>Swift</h3>
      <p>Full support for the Swift syntax.</p>
    </div>

    <div fxFlex="25%">
      <!--<app-svg-viewer src="/assets/android.svg"></app-svg-viewer>-->
      <img src="/assets/android.png" alt="Android"/>
      <h2>Android</h2>
      <h3>Java or Kotlin</h3>
      <p>Full support for both Java and Kotlin syntax.</p>
    </div>

    <div fxFlex="25%">
      <!--<app-svg-viewer src="/assets/rust.svg"></app-svg-viewer>-->
      <img src="/assets/rust.png" alt="Rust"/>
      <h2>Backend (REST API)</h2>
      <h3>Rust</h3>
      <p>Support for Actix and Diesel macros, and all non-macro Rust syntax.</p>
    </div>
  </div>
</section>

<section class="container">
  <div fxLayout="row" fxLayout.xs="column" class="card center" fxLayoutGap="20px">
    <div fxFlex>
      <h2>Abstract Syntax Tree (AST)</h2>
      <p>The key differentiator in our approach, is that we explicitly and statically traverse the AST of each language, in each language, then code-generate merged changes.</p>
    </div>

    <div fxFlex>
      <h2>Design Patterns (also BYO)</h2>
      <p>Develop functionally, reactively, or following Google/Apple/Dropbox/Facebook standards? - Support your directory layout, paradigm, and frameworks.</p>
    </div>

    <div fxFlex>
      <h2>Open-source</h2>
      <p>(Apache-2.0 OR MIT) licensed, enabling maximum integration with any of your systems, e.g.: IDEs, and version
        control systems (with CI/CD pipelines).</p>
    </div>
  </div>
</section>

<section class="container">
  <div fxLayout="row" fxLayout.xs="column" class="card center" fxLayoutGap="20px">
    <div fxFlex>
      <h1>Become our case study! - Get in touch today</h1>
    </div>
  </div>
</section>
